DB_CONNECTION=sqlite
DB_DATABASE=../database/database.sqlite

# For MySQL uncomment and fill:
# DB_CONNECTION=mysql
# DB_HOST=127.0.0.1
# DB_PORT=3306
# DB_DATABASE=subscription_platform
# DB_USERNAME=root
# DB_PASSWORD=

# For PostgreSQL uncomment and fill:
# DB_CONNECTION=pgsql
# DB_HOST=127.0.0.1
# DB_PORT=5432
# DB_DATABASE=subscription_platform
# DB_USERNAME=postgres
# DB_PASSWORD=
